- buttons = %(<div>\n  <a class="button">Link</a>\n  <input class="button" type="submit" value="Button"/>\n</div>)
%style{ :type => "text/css"}
  = @css

%h2 The lovely buttons
.buttons
  = buttons

%h2
  HTML
  = clippy(buttons)

%textarea{ :rows => 5 }= buttons

%h2
  CSS
  = clippy(@css)

%textarea{ :rows => 25 }= @css
